.u-section-1 .u-sheet-1 {
  min-height: 524px;
}

.u-section-1 .u-custom-html-1 {
  height: auto;
  min-height: 296px;
  border-style: double;
  width: 310px;
  margin: 60px auto;
}form-login {
    position: absolute;
    top: 0px;
    width: 10%;
    padding: 20px 40px 20px 40px;
    margin: 35px 45% 35px 45%;
    background: rgb(247, 247, 247);
    border: 1px solid rgba(147, 184, 189,0.8);
    box-shadow:
        0pt 2px 5px rgba(105, 108, 109,  0.7),
        0px 0px 8px 5px rgba(208, 223, 226, 0.4) inset;
    border-radius: 5px;
    z-index: 22;
}
form-group {
    margin: 15px auto;
    display: flex;  
    justify-content: center;
}