 .u-section-1 {
  font-size: 0.8125rem;
}

.u-section-1 .u-sheet-1 {
  min-height: 795px;
}

.u-section-1 .u-image-1 {
  width: 123px;
  height: 95px;
  margin: 63px auto 0 46px;
}

.u-section-1 .u-shape-1 {
  width: 674px;
  height: 95px;
  background-image: linear-gradient(to right, black, white);
  margin: -95px auto 0 169px;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  font-weight: 700;
  font-size: 1.125rem;
  margin: -87px auto 0 175px;
  padding: 0;
}

.u-section-1 .u-text-1 {
  font-size: 1rem;
  font-style: italic;
  margin: 0 485px 0 176px;
}

.u-section-1 .u-group-1 {
  width: 297px;
  min-height: 209px;
  height: auto;
  margin: -82px 0 0 auto;
}

.u-section-1 .u-container-layout-1 {
  padding-left: 8px;
  padding-right: 8px;
}

.u-section-1 .u-text-2 {
  font-weight: 700;
  letter-spacing: -1px;
  margin: 0 1px;
}

.u-section-1 .u-countdown-1 {
  margin: 13px 1px 0;
}

.u-section-1 .u-countdown-counter-1 {
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 1;
}

.u-section-1 .u-countdown-label-1 {
  font-size: 0.75rem;
  text-transform: uppercase;
}

.u-section-1 .u-countdown-separator-1 {
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 1;
}

.u-section-1 .u-countdown-counter-2 {
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 1;
}

.u-section-1 .u-countdown-label-2 {
  font-size: 0.75rem;
  text-transform: uppercase;
}

.u-section-1 .u-countdown-separator-2 {
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 1;
}

.u-section-1 .u-countdown-counter-3 {
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 1;
}

.u-section-1 .u-countdown-label-3 {
  font-size: 0.75rem;
  text-transform: uppercase;
}

.u-section-1 .u-countdown-separator-3 {
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 1;
}

.u-section-1 .u-countdown-counter-4 {
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 1;
}

.u-section-1 .u-countdown-label-4 {
  font-size: 0.75rem;
  text-transform: uppercase;
}

.u-section-1 .u-countdown-separator-4 {
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 1;
}

.u-section-1 .u-countdown-counter-5 {
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 1;
}

.u-section-1 .u-countdown-label-5 {
  font-size: 0.75rem;
  text-transform: uppercase;
}

.u-section-1 .u-countdown-separator-5 {
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 1;
}

.u-section-1 .u-countdown-counter-6 {
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 1;
}

.u-section-1 .u-countdown-label-6 {
  font-size: 0.75rem;
  text-transform: uppercase;
}

.u-section-1 .u-shape-2 {
  width: 674px;
  height: 95px;
  background-image: linear-gradient(to right, black, white);
  margin: -101px auto 0 169px;
}

.u-section-1 .u-btn-2 {
  background-image: none;
  font-weight: 700;
  font-size: 1.125rem;
  margin: -88px auto 0 175px;
  padding: 0;
}

.u-section-1 .u-text-3 {
  font-size: 1rem;
  font-style: italic;
  margin: 0 486px 0 175px;
}

.u-section-1 .u-image-2 {
  width: 122px;
  height: 95px;
  margin: -88px auto 0 47px;
}

.u-section-1 .u-image-3 {
  width: 122px;
  height: 95px;
  margin: 16px auto 0 47px;
}

.u-section-1 .u-shape-3 {
  width: 674px;
  height: 95px;
  background-image: linear-gradient(to right, black, white);
  margin: -94px auto 0 169px;
}

.u-section-1 .u-btn-3 {
  background-image: none;
  font-weight: 700;
  font-size: 1.125rem;
  margin: -88px auto 0 176px;
  padding: 0;
}

.u-section-1 .u-text-4 {
  font-size: 1rem;
  font-style: italic;
  margin: 0 424px 0 176px;
}

.u-section-1 .u-image-4 {
  width: 123px;
  height: 94px;
  margin: 27px auto 0 46px;
}

.u-section-1 .u-shape-4 {
  width: 674px;
  height: 95px;
  background-image: linear-gradient(to right, black, white);
  margin: -94px auto 0 169px;
}

.u-section-1 .u-btn-4 {
  background-image: none;
  font-weight: 700;
  font-size: 1.125rem;
  margin: -88px auto 0 175px;
  padding: 0;
}

.u-section-1 .u-text-5 {
  font-size: 1rem;
  font-style: italic;
  margin: 0 486px 0 175px;
}

.u-section-1 .u-image-5 {
  width: 122px;
  height: 94px;
  margin: 51px auto 0 48px;
}

.u-section-1 .u-shape-5 {
  width: 674px;
  height: 95px;
  background-image: linear-gradient(to right, black, white);
  margin: -94px auto 0 170px;
}

.u-section-1 .u-btn-5 {
  background-image: none;
  font-weight: 700;
  font-size: 1.125rem;
  margin: -87px auto 0 176px;
  padding: 0;
}

.u-section-1 .u-text-6 {
  font-size: 1rem;
  font-style: italic;
  margin: 0 485px 0 176px;
}

.u-section-1 .u-image-6 {
  width: 122px;
  height: 94px;
  margin: 51px auto 0 48px;
}

.u-section-1 .u-shape-6 {
  width: 674px;
  height: 95px;
  background-image: linear-gradient(to right, black, white);
  margin: -94px auto 0 170px;
}

.u-section-1 .u-btn-6 {
  background-image: none;
  font-weight: 700;
  font-size: 1.125rem;
  margin: -87px auto 0 176px;
  padding: 0;
}

.u-section-1 .u-text-7 {
  font-size: 1rem;
  font-style: italic;
  margin: 0 451px 60px 176px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-image-1 {
    margin-top: 89px;
  }

  .u-section-1 .u-shape-1 {
    margin-top: -91px;
  }

  .u-section-1 .u-btn-1 {
    border-style: solid;
    margin-left: 0;
  }

  .u-section-1 .u-text-1 {
    margin-right: 385px;
    margin-left: 76px;
  }

  .u-section-1 .u-group-1 {
    height: auto;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 18px;
    padding-bottom: 8px;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 0;
  }

  .u-section-1 .u-text-3 {
    margin-right: 461px;
    margin-left: 0;
  }

  .u-section-1 .u-btn-3 {
    margin-left: 0;
  }

  .u-section-1 .u-text-4 {
    margin-right: 400px;
    margin-left: 0;
  }

  .u-section-1 .u-btn-4 {
    margin-left: 0;
  }

  .u-section-1 .u-text-5 {
    margin-right: 385px;
    margin-left: 76px;
  }

  .u-section-1 .u-btn-5 {
    margin-left: 0;
  }

  .u-section-1 .u-text-6 {
    margin-right: 385px;
    margin-left: 76px;
  }

  .u-section-1 .u-btn-6 {
    margin-left: 0;
  }

  .u-section-1 .u-text-7 {
    margin-right: 351px;
    margin-left: 76px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-shape-1 {
    margin-left: 46px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 241px;
    margin-left: 0;
  }

  .u-section-1 .u-shape-2 {
    margin-left: 46px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 241px;
  }

  .u-section-1 .u-shape-3 {
    margin-left: 46px;
  }

  .u-section-1 .u-text-4 {
    margin-right: 180px;
  }

  .u-section-1 .u-shape-4 {
    margin-left: 46px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 241px;
    margin-left: 0;
  }

  .u-section-1 .u-shape-5 {
    margin-left: 46px;
  }

  .u-section-1 .u-text-6 {
    margin-right: 241px;
    margin-left: 0;
  }

  .u-section-1 .u-shape-6 {
    margin-left: 46px;
  }

  .u-section-1 .u-text-7 {
    margin-right: 207px;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-image-1 {
    margin-top: 64px;
  }

  .u-section-1 .u-shape-1 {
    width: 540px;
    margin-top: -66px;
    margin-left: 0;
  }

  .u-section-1 .u-text-1 {
    margin-right: 61px;
  }

  .u-section-1 .u-shape-2 {
    width: 540px;
    margin-left: 0;
  }

  .u-section-1 .u-text-3 {
    margin-right: 61px;
  }

  .u-section-1 .u-image-2 {
    margin-left: 46px;
  }

  .u-section-1 .u-image-3 {
    margin-left: 46px;
  }

  .u-section-1 .u-shape-3 {
    width: 540px;
    margin-left: 0;
  }

  .u-section-1 .u-text-4 {
    margin-right: 0;
  }

  .u-section-1 .u-shape-4 {
    width: 540px;
  }

  .u-section-1 .u-text-5 {
    margin-right: 61px;
  }

  .u-section-1 .u-shape-5 {
    width: 540px;
    margin-left: 0;
  }

  .u-section-1 .u-text-6 {
    margin-right: 61px;
  }

  .u-section-1 .u-shape-6 {
    width: 540px;
    margin-left: 0;
  }

  .u-section-1 .u-text-7 {
    margin-right: 27px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 882px;
  }

  .u-section-1 .u-image-1 {
    margin-top: -234px;
    margin-left: 0;
  }

  .u-section-1 .u-shape-1 {
    margin-top: 1839px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-btn-1 {
    font-size: 0.875rem;
    margin-top: -91px;
    margin-left: 5px;
  }

  .u-section-1 .u-text-1 {
    font-size: 0.8125rem;
    width: auto;
    margin-right: -5px;
    margin-left: 5px;
  }

  .u-section-1 .u-group-1 {
    min-height: 199px;
    margin-top: -283px;
    margin-right: auto;
  }

  .u-section-1 .u-text-2 {
    margin-top: 18px;
  }

  .u-section-1 .u-shape-2 {
    margin-top: 108px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-btn-2 {
    font-size: 0.875rem;
    margin-top: -81px;
    margin-left: 5px;
  }

  .u-section-1 .u-text-3 {
    font-size: 0.875rem;
    width: auto;
    margin-right: -5px;
    margin-left: 5px;
  }

  .u-section-1 .u-image-2 {
    margin-top: -2012px;
  }

  .u-section-1 .u-image-3 {
    margin-top: 0;
  }

  .u-section-1 .u-shape-3 {
    margin-top: 23853px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-btn-3 {
    font-size: 0.875rem;
    margin-top: -92px;
    margin-left: 5px;
  }

  .u-section-1 .u-text-4 {
    font-size: 0.8125rem;
    width: auto;
    margin-top: 3px;
    margin-right: -5px;
    margin-left: 5px;
  }

  .u-section-1 .u-image-4 {
    margin-top: -23944px;
  }

  .u-section-1 .u-shape-4 {
    margin-top: 155496px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-btn-4 {
    font-size: 0.875rem;
    margin-top: -69px;
    margin-left: 5px;
  }

  .u-section-1 .u-text-5 {
    font-size: 0.8125rem;
    width: auto;
    margin-right: -5px;
    margin-left: 5px;
  }

  .u-section-1 .u-image-5 {
    margin-top: -155565px;
  }

  .u-section-1 .u-shape-5 {
    margin-top: 715000px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-btn-5 {
    font-size: 0.875rem;
    margin-top: -69px;
    margin-left: 5px;
  }

  .u-section-1 .u-text-6 {
    font-size: 0.8125rem;
    width: auto;
    margin-right: -5px;
    margin-left: 5px;
  }

  .u-section-1 .u-image-6 {
    margin-top: -715069px;
  }

  .u-section-1 .u-shape-6 {
    margin-top: 2.60332e+06px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-btn-6 {
    font-size: 0.875rem;
    margin-top: -69px;
  }

  .u-section-1 .u-text-7 {
    font-size: 0.8125rem;
    width: auto;
    margin-right: 0;
    margin-bottom: 43px;
  }
}