.u-section-1 .u-sheet-1 {
  min-height: 436px;
}

.u-section-1 .u-image-1 {
  height: 317px;
  margin-top: 21px;
  margin-bottom: 0;
}

.u-section-1 .u-text-1 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 0 27px 21px;
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    font-size: 1rem;
  }
} .u-section-2 {
  min-height: 500px;
}

.u-section-2 .u-map-1 {
  width: calc(((100% - 1140px) / 2) + 1190px);
  left: 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-map-1 {
    width: 940px;
    left: 50px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-map-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-map-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-map-1 {
    width: 340px;
  }
} .u-section-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.85), rgba(0,0,0,0.85)), url("images/image8.png");
  background-position: 50% 50%;
}

.u-section-3 .u-sheet-1 {
  min-height: 477px;
}

.u-section-3 .u-text-1 {
  margin: 20px auto 0 258px;
}

.u-section-3 .u-image-1 {
  width: 225px;
  height: 225px;
  transition-duration: 0.5s;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  box-shadow: 0px 0px 0px rgba(0,0,0,0);
  text-shadow: 0px 0px 0px rgba(0,0,0,0);
  margin: 20px auto 0 249px;
}

.u-section-3 .u-image-2 {
  width: 225px;
  height: 225px;
  transition-duration: 0.5s;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  box-shadow: 0px 0px 0px rgba(0,0,0,0);
  text-shadow: 0px 0px 0px rgba(0,0,0,0);
  margin: -225px 249px 0 auto;
}

.u-section-3 .u-text-2 {
  font-size: 1.25rem;
  margin: 20px 676px 0 260px;
}

.u-section-3 .u-text-3 {
  font-size: 1.25rem;
  margin: -96px 215px 43px 631px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 393px;
  }

  .u-section-3 .u-image-1 {
    border-style: dashed;
  }

  .u-section-3 .u-image-2 {
    margin-top: 20px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 576px;
    margin-left: 160px;
  }

  .u-section-3 .u-text-3 {
    margin-right: 115px;
    margin-left: 531px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 301px;
  }

  .u-section-3 .u-text-1 {
    margin-left: 198px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 466px;
    margin-left: 50px;
  }

  .u-section-3 .u-text-3 {
    margin-right: 5px;
    margin-left: 421px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 226px;
  }

  .u-section-3 .u-text-1 {
    margin-left: 149px;
  }

  .u-section-3 .u-text-2 {
    font-size: 1rem;
    margin-right: 336px;
    margin-left: 0;
  }

  .u-section-3 .u-text-3 {
    font-size: 1rem;
    margin-right: 0;
    margin-left: 246px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 790px;
  }

  .u-section-3 .u-text-1 {
    margin-left: 94px;
  }

  .u-section-3 .u-image-1 {
    margin-left: auto;
  }

  .u-section-3 .u-image-2 {
    margin-top: 117px;
    margin-right: auto;
  }

  .u-section-3 .u-text-2 {
    width: 204px;
    margin-top: -323px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-text-3 {
    width: 248px;
    margin: 265px auto 22px;
  }
}

.u-section-3 .u-image-1,
.u-section-3 .u-image-1:before,
.u-section-3 .u-image-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-3 .u-image-1.u-image-1.u-image-1:hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
  box-shadow: 0px 0px 0px  rgba(0,0,0,0) !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-section-3 .u-image-1 {
  border-color: transparent !important;
}

.u-section-3 .u-image-1.u-image-1.u-image-1.hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
  box-shadow: 0px 0px 0px  rgba(0,0,0,0) !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-section-3 .u-image-1 {
  border-color: transparent !important;
}

.u-section-3 .u-container-layout:hover .u-image-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-3 .u-image-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-3 .u-image-2,
.u-section-3 .u-image-2:before,
.u-section-3 .u-image-2 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-3 .u-image-2.u-image-2.u-image-2:hover {
  transform: translateX(0px) translateY(0px) scale(1.1) rotate(0deg) !important;
  box-shadow: 0px 0px 0px  rgba(0,0,0,0) !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-section-3 .u-image-2 {
  border-color: transparent !important;
}

.u-section-3 .u-image-2.u-image-2.u-image-2.hover {
  transform: translateX(0px) translateY(0px) scale(1.1) rotate(0deg) !important;
  box-shadow: 0px 0px 0px  rgba(0,0,0,0) !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-section-3 .u-image-2 {
  border-color: transparent !important;
}

.u-section-3 .u-container-layout:hover .u-image-2 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-3 .u-image-2 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}